.mk__nav {
  @include flex(space-between, center);

  max-width: 1350px;
  margin: 0 auto;
  padding: 0 3rem;
  @media (max-width: 550px) {
    padding: 1.875rem 1.5rem 0;
  }

  padding-top: 30px;
  position: relative;

  &--brand {
    z-index: 1;
  }

  &--menus {
    z-index: 1;
    @media (max-width: 1000px) {
      display: none;
    }

    ul {
      @include flex(space-between, center);

      a {
        position: relative;
        transition: all 0.3s ease-in-out;

        li {
          @include poppins(17px, 400, $white-color);
        }

        &:not(:last-child) {
          margin-right: 30px;
        }

        &::after {
          content: '';
          position: absolute;

          left: 0;
          bottom: -20%;

          width: 0%;
          height: 3px;
          border-radius: 20px;

          transition: all 0.3s ease-in-out;
          background: linear-gradient(90deg, #ff007a 0%, #5773ff 100%);
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.mk__nav--btns {
  @include flex(flex-start, center);
  z-index: 1;
  // cta buttons
  button {
    @media (max-width: 520px) {
      display: none;
    }
  }

  // menu icon
  svg {
    color: white;

    font-size: 35px;
    margin-left: 20px;

    opacity: 1;
    cursor: pointer;

    transform: scale(1);
    transition: all 0.3s ease-in-out;

    @include hover-scale(0.98, 0.3s, 0.7);
  }
}

// radius gradient for the hero
.mk__nav--blueRadius,
.mk__nav--redRadius {
  position: absolute;

  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  z-index: 0;
  @media (min-width: 2100px) {
    visibility: hidden;
  }
}

// the blue radius
.mk__nav--blueRadius {
  top: -450%;
  left: -30%;

  background: radial-gradient(
    55.88% 55.88% at 42.65% 40.66%,
    #04429284 0%,
    transparent 100%
  );
}

// the purple radius
.mk__nav--redRadius {
  top: -450%;
  right: -30%;

  background: radial-gradient(
    64.74% 64.74% at 69.85% 24.66%,
    #7b077f84 0%,
    rgba(0, 0, 0, 0) 99.9%
  );
}
